/* -------------------------------------------------- MOBILE DEFAULTS-------------------------------------------------------------------*/

video#rocket1{display:none;}


body{background-image:url("../img/8a.jpg");background-size:cover;background-repeat:no-repeat;background-color:#827d79;background-attachment:fixed;}

table, th, td {border: 1px solid black;}

/* logo */

div#logo{position:fixed;top:37px;left:10%;z-index:100;width:300px;background-color:transparent;}
div#logo img {width:250px;}


a.learn{display: none;}

/*   NAV SECTION */

nav#desktopmenu {display:none;}

nav#dropnav{width:100%;}
#mmbut{width:100%;margin-top:0px;}
#navul li{
	font-size:1.8em;
	padding:20px;	
	height:100%;
	line-height:45px;
	list-style-type:none;
	text-decoration:none;
	margin-bottom:10px;
}
	
li a {	text-decoration: none;}

li a:hover {color: orange;	text-decoration: none;}


#wrapper{width:100%;}
#frontabout{padding:50px;width:100%;background: rgba(255, 255, 255, .7);border-radius:6px;font-weight:400;}
#frontabout h1{font-size:1.9em;}





/* CONTACT FORM */

#frontcontact{padding:50px;width:100;background: transparent;border-radius:6px;}
#frontwell{padding:25px;width:90%;background-color:transparent;margin:0 auto;color:orange;text-align:center;}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: rgba(255, 255, 255, .8);
	padding:25px;
	margin:50px 0;
	border-radius: 6px;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


/* scheduler booking form */
div#scheduler {
	border: 1px solid black;
	width:100;
	background: rgba(255, 255, 255, .7);
	border-radius:6px;
	padding:25px;
	padding-top:75px;

}
div.schedhead  h2{text-align:center; margin: 0 auto;}
legend {text-align:center;padding:10px;}
	
legend {margin-bottom: 0px;}

table#calendar {text-align:center; width: 95%;min-width: 90%;border-radius:6px;height:500px;border:1px solid black;padding: 0;border-radius:6px;}
span.scheduleheader {color: Orange;}


input {display:block;margin-bottom:20px;margin-left: 10px;}
.timelabel{display:block;}
select{display: inline-block;}
#timeveh{margin-left:10px;}
fieldset#submit {width:75%;margin:10px 10px;}
	
	

footer{text-align:center;}

/* TEAM PAGE STYLES */

div.driver{border: 1px solid grey;width:95%;margin:0 auto;text-align:center;background-color:white;}
.driverimg {margin-top:10px;padding:5px;border: 2px solid gray;width: 200px;}
.team h1 {display:block;padding:20px;}
.driverprof {width:95%;display:block;padding:5px; font-size:1.5em;margin:0 auto;}
.carprof {display:block; width:95%;padding:5px;border:2px solid gray;}
#teamheader{
	background-repeat:no-repeat;
	background-size:100vw;
	margin:0 auto;
	padding-top:200px;
	width:100%;
}

.team {text-align:center;}


body.learnbody{position:absolute;top:0px;min-height:1500px;background-image:url('../img/3.jpg');background-size:cover;font-size:1em;}
div#learnblock{background-color:rgba(255,255,255,.9);margin-left:auto;margin-right:auto;margin-top:25%;padding-left:0px;padding-right:0px;border-radius:6px;font-size:1em;}
div#learnblock p, h2, h1{width:90%;}
.container {padding-left:0px;padding-right:0px;}
iframe{width:540px;}


/*------------------------------------------------------TABLET--------------------------------------------------------------------*/

@media (min-width: 860px){



/* about us styles*/
body.aboutbody{background-image:url('../img/22.jpg');background-size:cover;}

#abouttop {width:75%;margin-left:18%;margin-top:5%;}
#rrstory{color:black;width:100%;}

div#logo img {width:350px;}
	
nav#dropnav{display:none;}

nav#desktopmenu{
	display:block;
	width:100vh;    
	height:60px;
	position:fixed;
	background:#d9d9d9;
	-webkit-transform-origin: left top;
	-webkit-transform:rotate(-90deg) translateX(-100%);
	z-index:100;
}

#navul li{ 
	font-size:1.5em;
	margin-right:20px;
	float:right;
	height:100%;
	line-height:45px;
	list-style-type:none;
	padding:5px;
}
div#frontabout{display:none;}	
div#frontwell{display:none;}
div#frontcontact{display:none;}
li a {	text-decoration: none;}
li a:hover {color: orange;text-decoration: none;}


a.learn {
	display:block;
	border:1px solid gray;
	border-radius:16px;
	box-shadow: 0 0px 10px rgba(0, 0, 0, .5);
	position:absolute;
	top:125px;
	left:25%;
	float:left;
	text-align:center;
	text-wrap:nowrap;
	font-size:2em;
	color: black;
    background: #ececec;
    padding: 15px 40px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
	}	

 .learn:hover {
 color: rgba(255, 255, 255, 1);
 box-shadow: 0 0px 15px rgba(32, 32, 32, .8);
 border:1px solid gray;
 }	


body.learnbody{position:absolute;top:0px;min-height:1500px;background-image:url('../img/3.jpg');background-size:cover;}
div#learnblock{background-color:rgba(255,255,255,.9);width:100%;margin:0 auto;margin-top:25%;padding:70px;border-radius:6px;}
iframe{height:500px;width:600px;}


div#scheduler {
	border: 1px solid black;
	max-width:80vw;
	background: rgba(255, 255, 255, .7);
	border-radius:6px;
	padding:60px;
	padding-top:100px;
	margin-right:auto;
	margin-left:13%;

}

/* TEAM PAGE STYLES */

div.driver{border: 1px solid grey;width:100vw;padding-right:20px;padding-left:20px;margin-left:40px;}
.driverimg {margin:0 auto;padding:10px;border: 1px solid grey;width: 350px;background-color:white;}
.team h1 {display:block;padding:20px;}
.driverprof {width:75%;display:block; font-size:1.5em;}
.carprof {display:block; width:100%; }


	
}


/*-----------------------------------------------960px /wide tablet -------------------------------------------------------------------*/


@media (min-width: 960px){
	
	
/* toggles */

html{
	background-color: #ececec;
	font-family:Orbitron;
}

video#rocket1 {
    position: fixed;
    top: 0;
 	margin-left:60px;
	min-width:100vw;
	display:block;
	z-index:0;
}
	

 .learn:hover {
 color: rgba(255, 255, 255, 1);
 box-shadow: 0 0px 15px rgba(32, 32, 32, .8);
 border:1px solid gray;
 }	

	

div#logo img {width: 500px;}


nav#desktopmenu{
	display:block;
	width:100vh;    
	height:60px;
	position:fixed;
	background:#d9d9d9;
	-webkit-transform-origin: left top;
	-webkit-transform:rotate(-90deg) translateX(-100%);
	z-index:100;
}
#navul{}

#navul li{  
	font-size:1.5em;
	margin-right:20px;
	float:right;
	height:100%;
	line-height:45px;
	list-style-type:none;
}	
li a {
	text-decoration: none;
	
}
li a:hover {
	color: orange;
	text-decoration: none; 
	
}



/* footer styles */
footer{text-align:center;width:100%;padding:10px;}

/* about us styles*/
body.aboutbody{position:absolute;top:0px;min-height:1500px;background-image:url('../img/22.jpg');background-size:cover;}
body.learnbody{position:absolute;top:0px;min-height:1500px;background-image:url('../img/3.jpg');background-size:cover;}
div#learnblock{background-color:rgba(255,255,255,.9);width:100%;margin:0 auto;margin-top:25%;padding:70px;border-radius:6px;}
iframe{height:500px;width:600px;}


#abouttop {width:75%;margin-left:18%;margin-top:20%;}
#rrstory{color:black;width:100%;}





/* CONTACT FORM */
img.contactlogo {position:fixed;top:60px;left:45%;z-index:100;width:500px;}

#ccontact input[type="text"], #ccontact input[type="email"], #ccontact input[type="tel"], #ccontact input[type="url"], #ccontact textarea, #ccontact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#ccontact {
	position:relative;
	background:#ececec;
	padding:25px;
	margin-left:50px;
	top:400px;
	border-radius: 6px;
}

#ccontact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#ccontact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#ccontact input[type="text"], #ccontact input[type="email"], #ccontact input[type="tel"], #ccontact input[type="url"], #ccontact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#ccontact input[type="text"]:hover, #ccontact input[type="email"]:hover, #ccontact input[type="tel"]:hover, #ccontact input[type="url"]:hover, #ccontact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#ccontact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#ccontact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#ccontact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#ccontact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#ccontact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/* TEAM PAGE STYLES */

div.driver{border: 1px solid grey;width:100vw;padding-right:20px;padding-left:20px;margin-left:40px;}
.driverimg {float:left;padding:10px;border:1px solid grey;width: 350px;background-color:white;}
.team h1 {display:block;padding:20px;}
.driverprof {width:75%;display:block; font-size:1.5em;padding:10px;}
.carprof {display:block; width:100%; height:200px;margin-top:20px;}


	



	
}

/* ---------------------------------------------HD DESKTOP----------------------------------------*/


@media (min-width: 1280px){
	

	
video#rocket1 {
	min-width:97vw;
}
div.vidblock{padding:20px;}
	
	/* TEAM PAGE STYLES */

div.driver{border: 1px solid grey;width:95vw;padding-right:10px;margin-left:15px;}
.driverimg { float:left;margin-left:6%;margin-right:10px;padding:10px;border: 1px solid grey;width: 350px;background-color:white;}
.team h1 {display:block;padding:20px;}
.driverprof {width:85%;display:block; font-size:1.5em;}
.carprof {display:block; width:100%;height:250px;margin-top:20px;}


#contact{display:none;}	

#teamheader{
	margin:0 auto;
	padding-left:40px;
	padding-top:200px;
}

body.learnbody{position:absolute;top:0px;min-height:1500px;background-image:url('../img/3.jpg');background-size:cover;font-size:1em;}
div#learnblock{background-color:rgba(255,255,255,.9);margin-left:60px;margin-right:60px;margin-top:25%;padding-left:40px;padding-right:40px;border-radius:6px;font-size:1em;}
div#learnblock p, h2, h1{width:90%;}
.container {padding-left:40px;padding-right:40px;}
iframe{width:960px;}


	
}









